{% extends 'accounts/account_base/base.html' %}
{% block account_content %}
    <div class="cabinet__content">
        <div class="password">
            <form method="post"
                  enctype="multipart/form-data" class="form cabinet-form password__form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cabinet-form__box">
                            <div class="cabinet-form__header">
                                <h5>Зміна пароля</h5>
                            </div>
                            <div class="cabinet-form__content">
                                <div class="form__row">
                                    <div class="form__group">
                                        <label>{{ form.old_password.label }}</label>
                                        {{ form.old_password }}
                                        <style>
                                            .c-error .c-validation {
                                                background: #ffddde !important;
                                                padding: 10px !important;
                                                border-radius: 0 !important;
                                                position: relative;
                                                display: inline-block !important;
                                                box-shadow: 1px 1px 1px #aaaaaa;
                                                margin-top: 10px;
                                                color: #666;
                                            }

                                            .c-validation:before {
                                                content: '';
                                                width: 0;
                                                height: 0;
                                                border-left: 10px solid transparent;
                                                border-right: 10px solid transparent;
                                                border-bottom: 10px solid #ffddde;
                                                position: absolute;
                                                top: -10px;
                                            }
                                        </style>
                                        {% if form.old_password.errors %}
                                            <div class="c-error">
                                                <div class="c-validation">
                                                    {{ form.old_password.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__group">
                                        <label>{{ form.new_password1.label }}</label>
                                     {{ form.new_password1 }}
                                         {% if form.new_password1.errors %}
                                            <div class="c-error">
                                                <div class="c-validation">
                                                     {{ form.new_password1.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__group">
                                        <label>{{ form.new_password2.label }}</label>
                                    {{ form.new_password2 }}
                                        {% if form.new_password2.errors %}
                                            <div class="c-error">
                                                <div class="c-validation">
                                                     {{ form.new_password2.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button type="submit" class="form__submit btn-red btn-blick">
                                        Продовжити
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock account_content %}