{% extends 'base.html' %}
{% load static %}
{% block contend %}
    <div class="row">
        <div class="cabinet__content">
            <div class="password" style="padding: 50px 0px 50px 100px;">
                <div class="col-lg-8 offset-md-2"style="padding: 50px">
                    <h3 style="font-size: 24px">Відновлення пароля відправлено</h3>
                    <br><br>
                    <p style="font-size: 16px">Ми відправили вам інструкції для встановлення нового пароляю Ви повинні отримати листа найближчим часом.

                        Якщо Ви не отримали електронного листа, переконайтеся, будь ласка, в зареєстрованій адресі і
                        перевірте папку
                        "Спам".</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}