{% extends 'base.html' %}
{% load static %}
{% block contend %}
    <div class="row">
        <div class="cabinet__content">
            <div class="password" style="padding: 50px 0px 50px 100px;">
                <div class="col-lg-8 offset-md-2"style="padding: 50px">
                    <h3 style="font-size: 24px">Пароль успішно оновлений.</h3>
                    <br><br>
                    <p style="font-size: 16px">Пароль встановлено. Ви можете увійти зараз.</p>
                    <a style="font-size: 16px; text-decoration: underline; color: #0d95e8" href="{% url 'accounts:login' %}">Увійти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}