{% extends 'base.html' %}
{% load static %}
{% block contend %}
    <style>
        .c-error .c-validation {
            background: #ffddde !important;
            padding: 10px !important;
            border-radius: 0 !important;
            position: relative;
            display: inline-block !important;
            box-shadow: 1px 1px 1px #aaaaaa;
            margin-top: 10px;
            color: #666;
        }

        .c-validation:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ffddde;
            position: absolute;
            top: -10px;
        }
    </style>
    <div class="cabinet__content">
        <div class="password" style="padding: 50px 0px 50px 100px;">
            <form method="post" class="form cabinet-form password__form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 offset-md-2">
                        <div class="cabinet-form__box">
                            <div class="cabinet-form__header">
                                <h5>Забули пароль?</h5>
                            </div>
                            <div class="cabinet-form__content">
                                <div class="form__row">
                                    <div class="form__group">
                                        <label>{{ form.email.label }}</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="c-error">
                                                <div class="c-validation">
                                                    {{ form.email.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button type="submit" class="form__submit btn-red btn-blick">Продовжити</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}