{% extends 'base.html' %}
{% load static %}
{% block contend %}
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
    </head>
    <body>

    <h1>A Fancy Table</h1>

    <table id="customers">
        <tr>
            <th>№</th>
            <th>Користувач</th>
            <th>Ім'я</th>
            <th>Призвище</th>
            <th>По-батькові</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Кометар</th>
            <th>Статус</th>
            <th>Тип доставки</th>
            <th>Доставка</th>
            <th>Товар</th>
            <th>До сплати</th>
            <th>Створено</th>


        </tr>
        {% for i in ordered_product %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.customer.username }}</td>
                <td>{{ i.first_name }}</td>
                <td>{{ i.last_name }}</td>
                <td>{{ i.midl_name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td> {{ i.comment }}</td>
                <td>{{ i.status }}</td>
                <td></td>
                <td>{{ i.delivery_method }}</td>
                <td>{{ i.city }} - {{ i.warehouse }} </td>
                <td>
                    <ol>
                        {% for a in order_item %}
                            {% if a.order_id == i.id %}
                                <li><a href="{{ a.product.get_absolute_url }}">{{ a.product.title }} X {{ a.quantity }} шт</a></li>
                                Сума - {{ a.get_cost }} грн
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
{#                <td>{{ i.get_total_cost }}</td>#}
                <td>{{ i.created }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}