{% extends 'base.html' %}
{% load static %}
{% include 'include/catalog.html' %}
{% block contend %}
    {% block custom_css %}
        <link rel="stylesheet" href="{% static 'information_footer/css/information_footer.css' %}">
    {% endblock %}
    {% include 'include/catalog.html' %}
    <main class="main">
        <div class="breadcrumbs">
            <div class="container">
                <ol>
                    <li style="list-style: none"><a href={% url 'home' %}><i class="fa fa-home"></i></a></li>
                    <li style="list-style: none">Доставка і Оплата</li>
                </ol>
            </div>
        </div>
        <section class="section text-section">
            <div class="container">
                <h1>Гарантія і сервіс</h1>
                <p>Гарантія передбачає безкоштовне усунення дефекту, який виник з вини виробника протягом гарантійного
                    терміну.</p>
                <p>Підтвердженням гарантії служить товарний чек або видаткова накладна, і гарантійний талон із
                    зазначенням номера замовлення, найменування виробу, серійного номера, і терміну гарантії.</p>
                <p>Термін гарантії на продукцію залежить від сервісної політики виробника або імпортера.</p>
                <p>Тривалість гарантійного терміну на конкретний товар ви можете побачити на нашому сайті в картці цього
                    товару.</p>
                <p><br></p>
                <h2>Як передати товар на сервісне обслуговування в магазин 978 UA?</h2>
                <p style="text-align: justify;"><strong>Для&nbsp;</strong><strong>повернення&nbsp;</strong><strong>товару
                    необхідно&nbsp;</strong><strong>мати</strong><strong>:</strong></p>
                <ul>
                    <li>&nbsp;товар з повною комплектацією; &nbsp;</li>
                    <li>&nbsp;заповнений бланк-заява (заповнити заяву можливо у нас в магазині у момент здачі товару або
                        самостійно <a
                                href="https://www.aks.ua/userfiles/files/Zayavlenie-na-vozvrat-tovara-aks_ua.docx"><span>Скачати
                            бланк заяви</span></a> ); &nbsp;
                    </li>
                    <li>документ підтверджуючий купівлю (товарний чек); &nbsp;&nbsp;</li>
                    <li>&nbsp;гарантійний талон;</li>
                </ul>
                <p>Обмін або повернення товару здійснюється через відправку товару на склад Нової Пошти.</p>
                <p>До отримання приймаються виключно ТТН зі способом доставки &quot;Склад-Склад&quot; (відправлені з
                    відділення до відділення), без включеної до вартості послуги упаковки.</p>
                <p>Необхідно проконтролювати правильність заповнення реквізитів. Якщо будуть допущені помилки, ми не
                    зможемо забрати товар.</p>
                <p><strong>Реквізити одержувача:</strong></p>
                <p>Код ЄДРПОУ 00000</p>
                <p>м. Київ, Відділення №157</p>
                <p>Одержувач: ФОП Гринишин Ілля Віталійович</p>
                <p>Контактна особа: Інтернет Магазин Телемарт +380 (099) 999 84 94</p>
                <p><br></p>
                <h2>Сервісний центр може відмовити у гарантійному ремонті у разі через:</h2>
                <ul>
                    <li>порушення безпеки гарантійних пломб;</li>
                    <li>наявності механічних та інших пошкоджень, що виникли внаслідок навмисних чи необережних дій
                        покупця чи третіх осіб;
                    </li>
                    <li>порушення правил використання, викладених у експлуатаційних документах;</li>
                    <li>несанкціонованого розтину, ремонту або зміни внутрішніх комунікацій та компонентів товару, зміни
                        конструкцій чи схеми товару;
                    </li>
                    <li>неправильне заповнення гарантованого талону;</li>
                    <li>якщо серійний або IMEI номер, що знаходиться в пам&apos;яті виробу, змінено, стерто або не
                        встановлено.
                    </li>
                </ul>
                <p>&nbsp;</p>
                <h2>Гарантійні зобов&apos;язання не поширюються на такі несправності:</h2>
                <ul>
                    <li>природне зношування або вичерпання ресурсу;</li>
                    <li>випадкові пошкодження (дефекти, заподіяні клієнтом);</li>
                    <li>пошкодження внаслідок стихійних лих (природних явищ);</li>
                    <li>комплектуючі аксесуари до проданої техніки (гарнітури, зарядні пристрої, зарядні кабелі)</li>
                    <li>пошкодження, що виникли внаслідок недбалого відношення або використання (недотримання
                        температурного режиму, вплив рідини, запиленості, механічне пошкодження, потрапляння всередину
                        корпусу сторонніх предметів);
                    </li>
                    <li>пошкодження, викликані аварійним підвищенням або зниженням мережі.</li>
                </ul>
                <p><br></p>
            </div>
        </section>
    </main>
{% endblock %}